.titulo {
    font-family: "Times New Roman", Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: #5E4A39;
    color: #f0f8ff;
    width: 100%;
}

.titulo img {
    width: 250px;
    height: 250px;
}

.navigation {
    font-family: "Times New Roman", Times, serif;
    position: relative;
    display: flex;
    text-align: center;
    background-color: #563A23;
    width: 100%;
    padding: 10%;
}

body {
    font-family: "Times New Roman", Times, serif;
    position: relative;
    background-color: #e7e3e3;
    margin: auto;
    width: 100%;
    overflow-x: hidden;
}

nav {
    position: relative;
    text-align: center;
    background-color: #563A23;
    padding: 10px;
    width: 102%;
}

nav a {
    color: rgb(255, 255, 255);
    margin-inline: 50px;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    color: #FFB94E;
}

section {
    padding: 20px;
    margin-top: 40px;
}

button {
    padding: 10px;
    background-color: rgb(212, 212, 212);
    font-family: "Times New Roman", Times, serif;
    font-weight: 550;
    justify-content: flex-start;
    border: none;
    cursor: pointer;
    margin: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* remove o destaque ao clicar*/
}

button:hover {
    transform: scale(1.05);
}

button img {
    height: 100px;
    padding: 10px;
}

button p {
    margin: 2px;
}   

.selected{
    background-color: #FFB94E;
    color: rgb(255, 255, 255);
}

.centraliza-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.calcular-button {
    padding: 10px 200px;
    cursor: pointer;
}

.centraliza-result {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.result-visao {
    border: #FFB94E;
    font-family: "Times New Roman", Times, serif;;
    color: #c4460b;
    border-radius: 5px;
    border-style: solid;
    width: 500px;
    height: 50px;
    text-align-last: center;
    align-content: center;
}

.m {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}

.botaocalc {
    width: 500px;
    height: 70px;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 25px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 700;
    background: #FFB94E;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.botaocalc:hover{ 
    background: #c4460b;
  }

.btn-9 {
    border: none;
    transition: all 0.3s ease;
    overflow: hidden;
}

.backgroundsection {
    background-color: #505050;
    border-radius: 10px;
    padding: 20px;
}

.arrow-left{
    color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
    top: 20px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-color: #563A23;
    position: absolute;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-decoration: none; /* remove underline */
}

.arrow-left:hover{
    background-color: #382c21;
    transition: 0.3s;
}

