@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

.titulo {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: #474542;
    color: #f0f8ff;
    width: 100%;
}

.navigation {
    position: relative;
    display: flex;
    text-align: center;
    background-color: #575656;
    width: 100%;
    padding: 10px;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #e7e3e3;
    margin: auto;
    width: 100%;
    overflow-x: hidden;
}

nav {
    position: relative;
    text-align: center;
    background-color: #575656;
    padding: 10px;
}

nav a {
    color: rgb(255, 255, 255);
    margin-right: 50px;
    text-decoration: none;
}

section {
    padding: 20px;
    margin-top: 40px;
}

button {
    padding: 10px;
    background-color: rgb(212, 212, 212);
    font-family: "Poppins", sans-serif;
    font-weight: 550;
    justify-content: flex-start;
    border: none;
    cursor: pointer;
    margin: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    transform: scale(1.05);
}

button img {
    height: 100px;
    padding: 10px;
    overflow-y: hidden; /* teste */
}

button p {
    margin: 2px;
}   

.selected{
    background-color: #97eb7e;
    color: rgb(255, 255, 255);
}

.centraliza-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.calcular-button {
    padding: 10px 200px;
    cursor: pointer;
}

.centraliza-result {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.result-visao {
    border: #c2c2c2;
    font-family: "Poppins", sans-serif;
    color: #d34e10;
    border-radius: 5px;
    border-style: solid;
    width: 500px;
    height: 50px;
    text-align-last: center;
    align-content: center;
}

.m {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}

.botaocalc {
    width: 500px;
    height: 70px;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    background: #e69809;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
}

.botaocalc:hover{ 
    background: #c4460b;
  }

.btn-9 {
    border: none;
    transition: all 0.3s ease;
    overflow: hidden;
}

.backgroundsection {
    background-color: #505050;
    border-radius: 10px;
    padding: 20px;
}

.arrow-left{
    color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
    top: 20px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-color: #333;
    position: absolute;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-decoration: none; /* remove underline */
}

.arrow-left:hover{
    background-color: #c4460b;
    transition: 0.3s;
}