.titulo {
    font-family: "Times New Roman", Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: #5E4A39;
    color: #f0f8ff;
    width: 100%;
}

.rodape {

    background-color: #5E4A39; 
    color: #fff;
    text-align: center; 
    padding: 20px; 
    position: relative; 
    bottom: 0; 
    width: 100%;
}

.rodape-conteudo {
    max-width: 1200px; 
    margin: auto; 
}

.rodape a {

    color: #ffffff; 
    text-decoration: none; 
    margin: 0 10px; 
}

.rodape a:hover {
    color: #FFB94E; 
}

.rodape p {
    margin: 10px 0;
    font-size: 0.9em;
}

.titulo img {
    width: 250px;
    height: 250px;
}

.navigation {
    font-family: "Times New Roman", Times, serif;
    position: relative;
    display: flex;
    text-align: center;
    background-color: #563A23;
    width: 100%;
    padding: 10%;
}

body {
    font-family: "Times New Roman", Times, serif;
    position: relative;
    background-color: #e7e3e3;
    margin: auto;
    width: 100%;
    overflow-x: hidden;
}

nav {
    position: relative;
    text-align: center;
    background-color: #563A23;
    padding: 10px;
    width: 102%;
}

nav a {
    color: rgb(255, 255, 255);
    margin-inline: 50px;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    color: #FFB94E;
}

section {
    padding: 20px;
    margin-top: 40px;
}

button {
    padding: 10px;
    background-color: rgb(212, 212, 212);
    font-family: "Times New Roman", Times, serif;
    font-weight: 550;
    justify-content: flex-start;
    border: none;
    cursor: pointer;
    margin: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s;
    /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); remove o destaque ao clicar */
} 

button:hover {
    transform: scale(1.05);
}

button img {
    height: 100px;
    padding: 10px;
}

button p {
    margin: 2px;
}   

.selected{
    background-color: #FFB94E; /* muda a cor do botão */ 
    color: rgb(255, 255, 255); /* muda a cor do texto do botão*/
}

.centraliza-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.calcular-button {
    padding: 10px 200px;
    cursor: pointer;
}

.centraliza-result {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.result-visao {
    border: #FFB94E;
    font-family: "Times New Roman", Times, serif;;
    color: #c4460b;
    border-radius: 5px;
    border-style: solid;
    width: 500px;
    height: 50px;
    text-align-last: center;
    align-content: center;
}

.m {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}

.botaocalc {
    width: 500px;
    height: 70px;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 25px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 700;
    background: #FFB94E;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.botaocalc:hover{ 
    background: #c4460b;
  }

.btn-9 {
    border: none;
    transition: all 0.3s ease;
    overflow: hidden;
}

.backgroundsection {
    background-color: #505050;
    border-radius: 10px;
    padding: 20px;
}

.arrow-left{
    color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
    top: 20px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-color: #563A23;
    position: absolute;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-decoration: none; /* remove underline */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* remove o destaque ao clicar */
}

.arrow-left:hover{
    background-color: #382c21;
    transition: 0.3s;
}

/* @media (max-width: 960px) {
    .titulo img {
        width: 180px;
        height: 180px;
    }

    .navigation {
        padding: 5%;
    }

    nav a {
        font-size: 12px;
        margin-inline: 20px;
    }

    button {
        padding: 8px;
        font-size: 14px;
        margin: 5px;
    }

    .botaocalc {
        width: 100%;
        padding: 10px;
    }

    .result-visao {
        width: 90%;
    }

    .centraliza-button {
        height: 20vh;
    }

    .m {
        font-size: 18px;
    }

    .arrow-left {
        font-size: 25px;
        width: 40px;
        height: 40px;
    }
} */

/* Telas médias, como tablets */
/* @media (min-width: 601px) and (max-width: 1024px) {
    .titulo img {
        width: 220px;
        height: 220px;
    }

    .navigation {
        padding: 8%;
    }

    nav a {
        font-size: 14px;
        margin-inline: 30px;
    }

    button {
        padding: 9px;
        font-size: 16px;
        margin: 8px;
    }

    .botaocalc {
        width: 80%;
        padding: 15px;
    }

    .result-visao {
        width: 80%;
    }

    .m {
        font-size: 19px;
    }

    .arrow-left {
        font-size: 28px;
        width: 45px;
        height: 45px;
    }
} */

/* Telas grandes, como desktops */
/* @media (min-width: 1025px) {
    .titulo img {
        width: 250px;
        height: 250px;
    }

    .navigation {
        padding: 10%;
    }

    nav a {
        font-size: 15px;
        margin-inline: 50px;
    }

    button {
        padding: 10px;
        font-size: 18px;
    }

    .botaocalc {
        width: 500px;
        padding: 20px;
    }

    .result-visao {
        width: 500px;
    }

    .m {
        font-size: 20px;
    }

    .arrow-left {
        font-size: 30px;
        width: 50px;
        height: 50px;
    }
} */
